.btn {
  padding: 5px 10px;
  background-color: rgb(100, 210, 50);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.15s ease;
  cursor: pointer;
  border: 2px solid rgb(100, 210, 50);
  font-size: 16px;
}

.btn:hover {
  background-color: #74d747;
}

.btn:focus {
  background-color: #59c02a;
}

.btn--transparent-bg {
  padding: 5px 10px;
  background-color: white;
  color: rgb(100, 210, 50);
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.15s ease;
  cursor: pointer;
  border: 2px solid rgb(100, 210, 50);
  font-size: 16px;
}

.btn--transparent-bg:hover {
  background-color: rgba(100, 210, 50, 0.1);
}

.btn--transparent-bg:focus {
  background-color: rgba(100, 210, 50, 0.3);
}

.upload-photo {
  padding: 5px 10px;
  background-color: white;
  color: rgb(50, 100, 255);
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.15s ease;
  cursor: pointer;
  border: 2px solid rgb(50, 100, 255);
  font-size: 16px;
  width: 150px;
  text-align: center;
}

.upload-photo:hover {
  background-color: #f2f2f2;
}