.ntf--warning {
  background-color: #ffff1a;
  color: olive;
  border: 2px solid #b3b300;
  border-radius: 5px;
  padding: 5px 10px;
  width: 98%;
  transition: display 0.5s ease;
  text-align: center;
}

.ntf--error {
  background-color: #ff0000;
  color: #660000;
  border: 2px solid #990000;
  border-radius: 5px;
  padding: 5px 10px;
  width: 98%;
  transition: display 0.5s ease;
  text-align: center;
}

.ntf--success {
  background-color: #84db5c;
  color: #3c821c;
  border: 2px solid #4fab26;
  border-radius: 5px;
  padding: 5px 10px;
  width: 98%;
  transition: display 0.5s ease;
  text-align: center;
}