.welcome-container__1 {
  box-shadow: 10px 10px 0 rgb(50, 100, 255);
}

.welcome-container__2 {
  box-shadow: 5px 5px 0 rgb(50, 100, 255);
}

.welcome-container__3 {
  box-shadow: -5px -5px 0 rgb(50, 100, 255);
}

.welcome-container__4 {
  box-shadow: -10px -10px 0 rgb(50, 100, 255);
}

body {
  position: relative;
  background-color: rgba(50, 100, 255, 0.1);
}

.welcome-container {
  background: white;
  width: 35%;
  margin-bottom: 50px;
  transform: translateX(85%) translateY(3%);
  border: 1px solid rgb(50, 100, 255);
  padding: 20px 35px 20px 20px;
  border-radius: 20px;
}
.welcome-container h1, .welcome-container p.info--auth {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .welcome-container {
    transform: none;
    width: auto;
    margin: 20px;
  }
}
.welcome-container p.info--auth {
  margin-bottom: 20px;
}
.welcome-container form .field {
  display: flex;
  flex-direction: column;
}
.welcome-container form input {
  margin-bottom: 6px;
}
.welcome-container form input:not(input[type=submit]):not(input[type=radio]),
.welcome-container form .field-limited {
  width: 100%;
}
.welcome-container form div.action--auth {
  margin-top: 20px;
}